.analytical-charts-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 25px 0;
    gap: 15px;
}
  
.analytical-charts-container .charts-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    max-width: 800px;
    margin: 20px 0;
    width: 100%;
}
.analytical-note-text{
    font-size: small;
    color: rgb(3, 99, 209);
}
.charts-box .charts-box-speaker{
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.charts-box-speaker span{
    color: rgb(3, 99, 209);
}
.modal-price-display{
    display: flex;
    align-items: center;
}
.modal-price-display span{
    color: green;
    font-weight: bolder;
    font-size: 1.9rem;
}
@media (max-width: 768px) {
    .charts-box {
        width: 90%;
        }
}
    